/*******************************************************************************
* Footer
*******************************************************************************/

.footer-container {
  margin: 0 auto;
  max-width: 1192px;
  padding: 75px 15px 82px 15px;
  position: relative;
  z-index: 1;
}

li {
  display: inline-block;
}

.footer-container a:hover {
  text-decoration: none;
}

.footer-aurora-outer {
  background-color: $brand-color;
  background-size: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  &:after {
    background-image: url("/images/png/bogen-dark-top-center-1920-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 102%;
    content: "";
    left: 0;
    padding-bottom: 6.4%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}
@include media-breakpoint-down(sm) {
  .footer-container .main-links,
  .footer-container .main-links li,
  .sub-links-wrapper ul.sub-links,
  .sub-links-wrapper ul.sub-links li {
    margin-left: 0 !important;
  }
}
.social-links-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 55px;
  @include media-breakpoint-up(md) {
    justify-content: center;
  }
  li {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  a {
    align-items: center;
    display: inline-flex;
    height: 25px;
    justify-content: center;
    width: 26px;

    &:hover {
      img {
        display: none;
        &.social-image-hover {
          display: inline;
        }
      }
    }
    img {
      max-height: 100%;
      object-fit: cover;
      &.social-image-hover {
        display: none;
      }
    }
  }
}

.main-links {
  margin-bottom: 22px;

  li:not(:last-child) {
    margin-right: 32px;
  }

  a {
    color: $white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: none;

    &:hover {
      color: $brand-color-gray;
    }
  }
}

.sub-links-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.sub-links {
  margin-bottom: 0;

  li {
    &:first-child {
      margin-left: 0;
    }
    &.head-link {
      margin-left: 0;
      margin-right: 20px;
    }
    margin-left: 20px;
  }

  .head-link a {
    font-size: 16px;
    line-height: 28px;
  }

  a {
    color: $brand-color-gray;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 25px;
    text-transform: none;
  }
}

.logo-inner {
  display: flex;
  margin-bottom: 0;
  
  li {
    align-items: center;
    display: inline-flex;

    &:not(:first-child) {
      margin-left: 28px;
    }
  }

  .dropdown-menu {
    border: 0;
    min-width: 6rem;

    a.dropdown-item {
      padding: 0.25rem 1.5rem !important;
    }

    .dropdown-item {
      cursor: pointer;
      span {
        color: $brand-color-gray !important;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 25px;
        text-transform: uppercase;
      }

      &:active,
      &:focus {
        background-color: $brand-color;
        color: $white;

        span {
          color: $white;
        }
      }
    }
  }

  a,
  .btn,
  .copyright-text {
    align-items: center;
    background-color: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
    color: $brand-color-gray !important;
    display: inline-flex;
    font-size: 12px;
    font-weight: 700;
    height: auto;
    letter-spacing: 2px;
    line-height: 25px;
    min-width: 1px;
    padding: 0 !important;
    text-transform: uppercase;

    &:after {
      content: none !important;
    }
  }

  .icon-in {
    display: inline-flex;
    height: 18px;
    margin-right: 5px;
    width: 18px;

    img {
      display: inline !important;
      vertical-align: middle;
      transition: all 0.25s ease 0s;
    }
  }

  .btn:focus,
  .btn:focus-visible,
  .btn:active,
  .btn:hover {
    color: $white !important;

    .icon-in img {
      filter: brightness(3);
    }
  }
}

.sub-links a:hover,
.logo-inner a:hover {
  color: $white;
}

@media screen and (min-width: 1364px) {
  .footer-container {
    padding: 75px 15px 35px;
  }
}

@include media-breakpoint-down(lg) {
  .social-links-list {
    padding-bottom: 36px;
  }
  .sub-links,
  .main-links {
    margin: 0 auto 15px;
    max-width: 190px;
  }
  .main-links li,
  .sub-links li {
    display: block;
    margin-left: 25px !important;
    margin-right: 0 !important;
    text-align: left;
  }
  .main-links a,
  .sub-links .head-link a {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 25px;
  }
  .sub-links {
    margin-bottom: 45px;
    > li {
      li {
        &.head-link {
          margin-left: 0 !important;
        }
      }
      // &:first-child {
      //   margin-bottom: 20px;
      // }
    }
    a {
      font-size: 10px;
      letter-spacing: 2px;
      line-height: 18px;
    }
  }
  .sub-links-wrapper {
    flex-wrap: wrap;
  }
  .sub-links,
  .logo-inner {
    flex: 0 0 100%;
  }
  .logo-inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    li:not(:first-child) {
      margin-left: 0;
    }
  }
}
